@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border: none;
}

/* Space Mono */

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono BoldItalic';
  src: url('/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono Italic';
  src: url('/fonts/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Space Mono Nerd */
@font-face {
  font-family: 'SpaceMono Nerd';
  font-weight: 400;
  src: url('/fonts/nerd/SpaceMonoNerdFont-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono Nerd Bold';
  font-weight: 700;
  src: url('/fonts/nerd/SpaceMonoNerdFont-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono Nerd Italic';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/nerd/SpaceMonoNerdFont-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono Nerd BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/nerd/SpaceMonoNerdFont-BoldItalic.ttf') format('truetype');
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/fira/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Bold';
  src: url('/fonts/fira/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Light';
  src: url('/fonts/fira/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Medium';
  src: url('/fonts/fira/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code SemiBold';
  src: url('/fonts/fira/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

main {
  margin-top: 20px;
}

#__next {
  margin-top: calc(-1 * var(--nextra-navbar-height));
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns {
    @apply w-full !important;
  }

  .vertical-timeline-element {
    @apply p-8;
  }

  .vertical-timeline-element-date {
    @apply text-slate-800;
  }
}

/* This is how we can adjust the Shiki Theme built in Nextra */

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;

  --nextra-primary-hue: 0;
  --nextra-primary-saturation: 0%;
  --nextra-primary-lightness: 97%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbb;
  --shiki-token-link: #ffab70;
}

@layer base {
  * {
    @apply border-border border-2;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-card {
    border: 1px solid;
    @apply border-slate-200 max-w-96 mt-10;
  }

  .cn-table {
    @apply bg-white;
    border: 1px solid;
    @apply border-gray-200;
  }

  .cn-table tr {
    border-bottom: 1px solid;
    @apply border-gray-200;
  }

  .cn-table th {
    font-weight: bold;
    @apply text-slate-700;
  }

  code {
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    font-feature-settings:
      'rlig' 1,
      'calt' 1,
      'ss01' 1;
    color: var(--shiki-color-text);
    background-color: var(--shiki-color-background);
  }

  code[data-line-numbers] > .line {
    padding-left: 0.5rem;
  }

  code[data-line-numbers] > .line:before {
    counter-increment: line;
    content: counter(line);
    float: left;
    text-align: right;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    min-width: 2.6rem;
    height: 100%;
    padding-right: 1rem;
  }

  code .line.highlighted {
    background-color: hsl(220, 100%, 90%/0.1);
    color: hsl(220, 100%, 45%/0.5);
    --tw-shadow: 2px 0 currentColor inset;
    --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
      var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }

  code .line .highlighted {
    --tw-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
    --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
      var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
    background-color: hsl(220, 100%, 32%/0.1);
    --tw-shadow-color: hsl(220, 100%, 32%/0.1);
    --tw-shadow: var(--tw-shadow-colored);
    border-radius: 0.125rem;
  }

  :is(html[class~='dark'] code .line .highlighted) {
    background-color: hsl(220, 100%, 77%/0.1);
    --tw-shadow-color: hsl(220, 100%, 77%/0.1);
    --tw-shadow: var(--tw-shadow-colored);
  }

  pre {
    contain: paint;
    word-break: break-word;
    white-space: pre-wrap;
    border: 1px solid #ececec;
    border-radius: 0.375rem;
    padding: 0.75rem 0;
  }

  pre code {
    color: currentColor;
    border-style: none;
    border-radius: 0;
    min-width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: grid;
    background-color: transparent !important;
    padding: 0 !important;
  }

  html[data-word-wrap] pre .line {
    display: inline-block;
  }

  pre .nextra-copy-icon {
    animation: 0.3s forwards fade-in;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @supports ((-webkit-backdrop-filter: blur(1px))) or
    ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    .button {
      --tw-bg-opacity: 0.85;
      --tw-backdrop-blur: blur(12px);
      -webkit-backdrop-filter: var(--tw-backdrop-blur)
        var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
        var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
        var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var
        (--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
        var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
        var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
        var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
        var(--tw-backdrop-sepia);
    }

    :is(html[class~='dark'] .nextra-button) {
      --tw-bg-opacity: 0.8;
    }
  }

  .token.constant {
    color: var(--shiki-token-constant);
  }

  .token.string,
  .token.string-expression,
  .token.link {
    color: var(--shiki-token-string);
  }

  .token.comment {
    color: var(--shiki-token-comment);
  }

  .token.keyword {
    color: var(--shiki-token-keyword);
  }

  .token.parameter {
    color: var(--shiki-token-parameter);
  }

  .token.function {
    color: var(--shiki-token-function);
  }

  .token.punctuation {
    color: var(--shiki-token-punctuation);
  }

  .text-xxs {
    font-size: 0.5rem;
  }

  .text-xs {
    font-size: 0.7rem;
  }
}

/* This is how we can adjust the Shiki Theme built in Nextra */

:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbb;
  --shiki-token-link: #ffab70;
}
