@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border: none;
}

main {
  margin-top: 20px;
}

#__next {
  margin-top: calc(-1 * var(--nextra-navbar-height));
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns {
    @apply w-full !important;
  }

  .vertical-timeline-element {
    @apply p-8;
  }

  .vertical-timeline-element-date {
    @apply text-slate-800;
  }
}
